<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
   <link href='./assets/main.css' rel='stylesheet' type='text/css'>
</head>
<body>
  {% block pagetitle %}
    <h1>{{ title }}</h1>
  {% endblock %}

  {% block content %}
    {% autoescape false %}{{ contents }}{% endautoescape %}
  {% endblock %}

  {% include "../snippets/footer.html" %}

  <script src="./assets/bundle.js"></script>
</body>
</html>
